@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply dark:bg-gray-900 dark:text-white text-gray-900 bg-white;
  }

  header nav .menu{
    @apply inline-block relative px-2 h-20 leading-[5rem] ml-8 first:ml-0 text-gray-300 hover:text-gray-900 dark:hover:text-white transition-colors duration-200;
  }

  header nav .menu.active{
    @apply dark:text-white text-gray-900 font-bold;
  }

  header nav .menu.active::after{
    @apply content-[''] h-[3px] w-full absolute bottom-px left-0 rounded-t bg-yellow-500;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 1080px){
  html{
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px){
  html{
    font-size: 87.5%; /* 14px */
  }
}


article div#post__content ul,
article div#post__content ol {
  padding-left: 1.5rem;
}

article div#post__content ul li,
article div#post__content ol li {
  margin: 1rem 0;
}

article div#post__content a {
  text-decoration: none;
  color: #04D361;
}
